#logo {
  font-family: 'Lilita One', Helvetica, Arial, sans-serif;
  font-size: $xl-size;
  margin-right: 6rem;
}
.logo--grapes {
  color: lighten($dark-purple, 20%);
}
.logo--shopper {
  color: $dark-purple;
}
