.nav-bar {
  display: flex;

  .main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .main-nav__item {
      padding: 0.3rem $m-size;
      color: $dark;
      font-weight: 800;
      font-size: 2.2rem;
      font-family: Montserrat, Arial, sans-serif;
      border-bottom: 0.2rem solid rgba($light-purple, 0);
      transition: border-bottom 500ms;

      &:hover,
      &.active {
        border-bottom-color: rgba($light-purple, 1);
        padding-bottom: 0.1rem;
      }
    }
  }
}
