.quick-links__list {
  display: flex;
  list-style-type: none;

  .quick-links__item-link {
    padding: $s-size;
    font-size: $s-size;
    color: $dark;

    &:hover {
      color: $medium-purple;
    }
  }

  .quick-links__cart-size {
    font-weight: bold;
    font-size: $s-size * 1.1;
  }
}
