#search {
  flex-grow: 1;
  margin-right: 3rem;

  .search__form {
    display: flex;

    .search__input {
      flex-grow: 1;
      background-color: #e7e6f6;
      border: 1px solid $dark-purple;
      border-right: none;
      border-bottom: 2px solid $dark-purple;
      padding: 0.2rem $s-size 0.2rem;
      font-size: 2rem;

      &:focus {
        background-color: #ffffff;
      }
    }

    .search__submit {
      font-weight: 500;
      color: $light-green;
      padding: $s-size $l-size;
      background-color: $medium-purple;
      border-color: $medium-purple;
      border-bottom: 2px solid $dark-purple;
    }
  }
}
