#search {
  flex-grow: 1;
  margin-right: 3rem;

  .search__form {
    display: flex;

    .search__submit {
      font-weight: 500;
      color: $light-green;
      padding: $s-size $s-size;
      background-color: $medium-purple;
      border-color: $medium-purple;
      border-bottom: 2px solid $dark-purple;
    }
  }
}
